<template>
  <div class="contact">
    <div class="contact__header layout__header">
      <div class="layout__title">
        <h1 class="title title--1">Contact / Demande de devis</h1>
      </div>

      <div class="layout__text">
        <p>
          N’hésitez pas à nous contacter pour une demande de prix, nos offres
          sont gratuites et sans engagement.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="contact__section">
        <p>
          <strong> Téléphonez-nous dès aujourd’hui au 064/49.50.43 </strong>
        </p>

        <a
          v-show="!isDesktop"
          href="tel:003264495043"
          class="button button--primary"
        >
          Téléphoner
        </a>
      </div>

      <div class="contact__section">
        <p>
          <strong> Ou contactez nous par mail grace à ce formulaire </strong>
        </p>
        <form method="post" class="form" @submit.prevent="submit">
          <div class="form__row">
            <fieldset class="field">
              <label for="name" class="field__label">Nom complet *</label>

              <input
                id="name"
                v-model="mail.name"
                type="text"
                class="field__input"
                required
              />
            </fieldset>

            <fieldset class="field">
              <label for="email" class="field__label">E-mail *</label>

              <input
                id="email"
                v-model="mail.email"
                type="text"
                class="field__input"
                required
              />
            </fieldset>
          </div>

          <div class="form__row">
            <fieldset class="field">
              <label for="label" class="field__label">
                Numéro de téléphone
              </label>

              <input
                id="label"
                v-model="mail.phone"
                type="text"
                class="field__input"
              />
            </fieldset>
          </div>

          <div class="form__row">
            <fieldset class="field">
              <label for="label" class="field__label">Sujet *</label>

              <div class="field__select">
                <select v-model="mail.subject" required>
                  <option value="Nouvelles installations et Rénovations">
                    Nouvelle installation / Rénovation
                  </option>
                  <option value="Borne de recharge pour véhicule électrique">
                    Borne de recharge pour véhicule électrique
                  </option>
                  <option value="Mise en conformité">Mise en conformité</option>
                  <option value="Installation connectée">
                    Installation connectée
                  </option>
                  <option value="Caméra / Parlophonie">
                    Caméra / Parlophonie
                  </option>
                  <option value="Dépannage">Dépannage</option>
                  <option value="Autre">Autre</option>
                </select>

                <svg
                  class="fiel"
                  width="17"
                  height="14"
                  viewBox="0 0 17 14"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.2321 13C9.46225 14.3333 7.53775 14.3333 6.76795 13L1.13879 3.25C0.368985 1.91667 1.33123 0.25 2.87083 0.25L14.1292 0.249999C15.6688 0.249998 16.631 1.91667 15.8612 3.25L10.2321 13Z"
                    fill="#323232"
                  />
                </svg>
              </div>
            </fieldset>
          </div>

          <div class="form__row">
            <fieldset class="field">
              <label for="label" class="field__label">Message *</label>

              <textarea
                v-model="mail.message"
                class="field__textarea"
                required
              ></textarea>
            </fieldset>
          </div>

          <div v-if="sent" class="form__row form__row--banner">
            <p>Votre message a bien été envoyé.</p>
          </div>

          <div class="form__row">
            <fieldset class="field field--submit">
              <button :disabled="disabled" class="button button--primary">
                Envoyer
              </button>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { Responsive } from '@/mixins';

export default {
  mixins: [Responsive],

  data() {
    return {
      mail: {
        name: '',
        email: '',
        phone: '',
        subject: '',
        message: '',
      },
      sent: false,
      disabled: false,
    };
  },

  computed: {
    message() {
      return `Nom : ${this.mail.name} <br />
        Email : ${this.mail.email} <br />
        Téléphone : ${this.mail.phone || ''} <br />
        Message : ${this.mail.message}`;
    },
  },

  created() {
    const subject = this.$route.params && this.$route.params.option;

    if (subject) {
      this.mail.subject = subject;
    }
  },

  methods: {
    async submit(e) {
      try {
        this.disabled = true;

        await this.$axios.post(`${process.env.API_URL}/email`, {
          to: 'info@begelectricite.be',
          subject: this.mail.subject,
          html: this.message,
        });

        this.$nextTick(() => {
          this.sendMessage();
          this.mail = {
            name: '',
            email: '',
            phone: '',
            subject: '',
            message: '',
          };
          e.target.reset();
        });
      } catch (error) {
        this.disabled = false;
        window.console.log(error);
      }
    },

    sendMessage() {
      this.sent = true;
      this.disabled = false;

      setTimeout(() => {
        this.sent = false;
      }, 5000);
    },
  },
};
</script>
