<template>
  <div @click.prevent.stop="reset">
    <div class="layout__header">
      <div class="layout__title">
        <h1 class="title title--1">Nos services d'électricité générale</h1>
      </div>

      <Services @action="highlight" />
    </div>

    <div class="container home__cards">
      <div :class="['cards', { 'cards--selected': active !== '' }]">
        <div
          :class="[
            'card',
            {
              'card--selected':
                active === 'nouvelles-installations-renovations',
            },
          ]"
          data-name="nouvelles-installations-renovations"
          @click="highlight('nouvelles-installations-renovations')"
        >
          <div class="card__content">
            <p class="card__title card__title--lower">
              Nouvelles installations / Rénovations
            </p>
            <div class="card__text">
              <p>
                Vous avez pour projet la construction d’un bien immobilier et
                vous souhaitez une installation conforme mais surtout
                pratique&nbsp;?
              </p>

              <p>
                Vous venez d’acquérir un nouveau bien et vous souhaitez modifier
                l’installation actuelle&nbsp;?
              </p>

              <p>
                Il est important de bien s’entourer et pour cela nous vous
                proposons une équipe de spécialistes. Leur expérience vous
                permettra de vous conseiller et de vous guider dans vos choix.
                <strong>
                  Notre but est de vous accompagner tout au long des travaux en
                  électricité.
                </strong>
              </p>

              <p>
                On détermine ensemble vos besoins et les divers placements,
                l’équipe B.E.G débute les travaux avec un savoir-faire de
                qualité et enfin nous organisons le passage d’un organisme de
                contrôle agréé si cela est nécessaire.
              </p>

              <p>B.E.G au service de ses clients !</p>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'contact',
                params: { option: 'Nouvelles installations et Rénovations' },
              }"
              class="button button--primary"
            >
              Demander un devis
            </nuxt-link>
          </div>
        </div>

        <div
          :class="[
            'card',
            {
              'card--selected': active === 'borne-electrique',
            },
          ]"
          data-name="borne-electrique"
          @click="highlight('borne-electrique')"
        >
          <div class="card__content">
            <p class="card__title card__title--lower">
              Borne de recharge pour véhicule électrique
            </p>
            <div class="card__text">
              <p>
                Chez B.E.G. nous voulons constamment vous proposer le meilleur
                et pour cela on se doit de se mettre à jour des nouvelles
                technologies.
              </p>

              <p>
                Nos équipes sont formées pour vous fournir un service complet.
                Lors de notre visite nous analysons l’emplacement idéal et
                vérifions comment adapter votre installation afin de garantir
                une utilisation optimale de votre borne.
              </p>

              <p>
                Au moment du placement, nous minimisons les travaux et rendons
                le passage de câble le plus esthétique possible. Une fois
                installée, nous programmons votre borne de recharge pour
                véhicule électrique et vous expliquons sa gestion via
                l’application disponible sur smartphone Android/iPhone.
              </p>

              <p>
                Nous nous occupons finalement du contrôle de l'installation.
              </p>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'contact',
                params: {
                  option: 'Borne de recharge pour véhicule électrique',
                },
              }"
              class="button button--primary"
            >
              Demander un devis
            </nuxt-link>
          </div>
        </div>

        <div
          :class="[
            'card',
            {
              'card--selected': active === 'mise-en-conformite',
            },
          ]"
          data-name="mise-en-conformite"
          @click="highlight('mise-en-conformite')"
        >
          <div class="card__content">
            <p class="card__title card__title--lower">Mise en conformité</p>
            <div class="card__text">
              <p>
                Le passage d’un organisme de contrôle agréé impose une révision
                totale de vos équipements.
              </p>

              <p>
                Nous réalisons une inspection minutieuse de votre installation
                électrique et prévoyons si besoin des travaux de rénovation :
                câblage, remise à neuf de l’appareillage, sécurisation du
                compteur… Après notre passage, vous avez la certitude d’être en
                règle&nbsp;!
              </p>

              <p>Le saviez-vous ?</p>

              <p>
                Le passage d’un organisme de contrôle agréé se fait tout les 25
                ans&nbsp;!
              </p>

              <p>
                Afin de rester en toute sécurité, il est impératif de faire
                contrôler son installation par un organisme de contrôle agréé.
              </p>

              <p>
                <strong>
                  B.E.G est là pour vérifier votre système électrique et pour
                  planifier la visite d’un contrôleur.
                </strong>
              </p>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'contact',
                params: { option: 'Mise en conformité' },
              }"
              class="button button--primary"
            >
              Demander un devis
            </nuxt-link>
          </div>
        </div>

        <div
          :class="[
            'card',
            {
              'card--selected': active === 'depannage',
            },
          ]"
          data-name="depannage"
          @click="highlight('depannage')"
        >
          <div class="card__content">
            <p class="card__title card__title--lower">Dépannage</p>
            <div class="card__text">
              <p>
                Vous rencontrez une panne dans votre installation
                électrique&nbsp;?
              </p>

              <p>Contactez-nous sans attendre !</p>
              <p>
                <strong>
                  Nous vous envoyons un électricien expérimenté afin de résoudre
                  le problème rapidement.
                </strong>
              </p>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'contact',
                params: { option: 'Dépannage' },
              }"
              class="button button--primary"
            >
              Demander un devis
            </nuxt-link>
          </div>
        </div>

        <div
          :class="[
            'card',
            {
              'card--selected': active === 'installation-connectee',
            },
          ]"
          data-name="installation-connectee"
          @click="highlight('installation-connectee')"
        >
          <div class="card__content">
            <p class="card__title card__title--lower">Installation connectée</p>
            <div class="card__text">
              <p>
                Notre monde évolue constamment, nos besoins et envies changent
                et votre installateur s’adapte.
              </p>

              <p>
                Commander votre installation électrique à distance ou de façons
                programmées, cela est aujourd’hui possible.
              </p>

              <p>
                L’équipe B.E.G s’informe et se forme pour vous permettre la
                nouvelle technologie.
              </p>

              <p>
                <strong>
                  Le savez-vous qu’il est possible d’adapter une installation
                  traditionnelle en installation connectée&nbsp;?
                </strong>
              </p>

              <p>Contactez-nous pour plus d’information !</p>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'contact',
                params: { option: 'Installation connectée' },
              }"
              class="button button--primary"
            >
              Demander un devis
            </nuxt-link>
          </div>
        </div>

        <div
          :class="[
            'card',
            {
              'card--selected': active === 'camera-parlophonie',
            },
          ]"
          data-name="camera-parlophonie"
          @click="highlight('camera-parlophonie')"
        >
          <div class="card__content">
            <p class="card__title card__title--lower">Parlophonie / Caméra</p>
            <div class="card__text">
              <p>
                <strong>
                  B.E.G vous propose des solutions sur mesure pour
                  l’installation de systèmes de vidéophonie et de parlophonie.
                </strong>
              </p>

              <p>
                Vous souhaitez contrôler vos accès ? Optez pour un produit
                simple ou sophistiqué parmi la large gamme de produits de nos
                fournisseurs.
              </p>

              <p>
                Envie d’avoir un œil sur vos entrées et/ou vos biens ? B.E.G
                installe également des caméras.
              </p>

              <p>
                On analyse ensemble vos besoins et ont déterminent les accès à
                protéger. On vous propose une large gamme de caméras ; aux
                fonctionnalités différentes et aux design de votre choix.
              </p>

              <p>
                Pour toute question relative à l’installation et à la vente de
                systèmes de vidéophonie, de contrôle d’accès et de parlophonie,
                contactez-nous sans plus attendre.
              </p>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'contact',
                params: { option: 'Caméra / Parlophonie' },
              }"
              class="button button--primary"
            >
              Demander un devis
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Services } from '@/components/Navigation';
import getClosest from '@/lib/closestPolyfill';

export default {
  components: { Services },

  data() {
    return {
      active: '',
    };
  },

  mounted() {
    const slug = this.$route.params.slug;

    this.$nextTick(() => {
      if (slug) this.highlight(slug);
    });
  },

  methods: {
    highlight(value) {
      const el = document.querySelector(`[data-name="${value}"]`);

      if (el) {
        const rect = el.getBoundingClientRect();
        this.active = this.active === value ? '' : value;

        let amount =
          rect.top < 0 ? window.scrollY + rect.top - 20 : rect.top - 20;

        if (window.innerWidth < 1024) {
          amount -= 85;
        }

        if (
          this.active !== '' &&
          ((rect.top > 50 && rect.bottom > window.innerHeight) || rect.top < 0)
        ) {
          this.$nextTick(() => {
            window.scrollTo({
              top: amount,
              behavior: 'smooth',
            });
          });
        }

        return;
      }

      this.active = '';
    },

    reset(e) {
      if (!getClosest(e.target, '.card') && !getClosest(e.target, '.service')) {
        this.active = '';
      }
    },
  },
};
</script>
