.blurry-header {
  position: relative;
  width: 100%;
  padding-top: 35%;
  overflow: hidden;

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($white, 0.2);
    filter: blur(1.5rem);
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center center;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    z-index: 5;
  }
}
