.footer {
  margin-top: 10px;

  &__pictos {
    display: flex;
    justify-content: center;
    padding: $gutter;

    img {
      width: 35px;
      margin: 0 2px;
    }
  }

  &__cta {
    background-color: $primary;
    color: $white;
    padding: 10px $gutter;
  }

  &__socials {
    display: flex;
    justify-content: center;
  }

  &__body {
    background-color: $white;
    padding: 40px 0;
  }

  &__info {
    margin: 10px auto;

    p {
      margin-bottom: 2px;
    }
  }

  &__trade {
    background-color: $black;
    color: $white;
    padding: 10px $gutter;
  }
}
