.home {
  background: linear-gradient(0deg, $black 50%, $blue 95%, lighten($blue, 15%));
  background-attachment: fixed;

  &__hero {
    background-image: url('/home.jpg');
    background-size: cover;
    background-position: center center;
    padding: 60px 10px;
  }

  &__intro {
    width: 100%;
    margin: auto;
    background-color: rgba($white, 0.9);
    padding: 30px 20px;
    border-radius: 2px;
  }

  &__cards {
    padding: 20px 0 50px;
  }
}
