.navbar {
  width: 100%;
  background-color: $black;
  color: $white;

  @media screen and (max-width: $break-md) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  &__container {
    @extend .container;

    display: flex;
    justify-content: space-between;
    padding: $gutter;
    align-items: flex-end;

    @media screen and (max-width: $break-md) {
      align-items: center;
    }
  }

  &__logo {
    width: 190px;

    @media screen and (max-width: $break-md) {
      width: 140px;
    }
  }

  &__mobile-menu {
    display: none;
    background: transparent;
    border: none;
    color: $white;

    span,
    svg {
      vertical-align: middle;
    }

    span {
      margin-right: 10px;
      font-size: 1.3em;
    }

    @media screen and (max-width: $break-md) {
      display: block;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 10px;

    @media screen and (max-width: $break-md) {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      width: 100%;
      height: calc(100% - 80px);
      top: 80px;
      left: 0;
      z-index: 9999;
      background-color: $black;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      transition: all 0.3s ease;
    }

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__link {
    font-size: 1.6em;
    margin-left: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid transparent;

    @media screen and (max-width: $break-md) {
      display: inline-block;
      flex: 0 0 100%;
      margin: 10px auto;
      border: none;
    }

    &:hover {
      border-color: $white;
    }

    &:first-of-type {
      @media screen and (max-width: $break-md) {
        margin-top: -30px;
      }
    }

    &.nuxt-link-active {
      // color: $secondary;
      border-bottom: 2px solid $white;
    }
  }
}
