.services {
  margin-top: 15px;
  text-align: center;
}

.service {
  display: inline-block;
  padding: 5px 10px;
  background-color: $black;
  color: $white;
  margin: 0 2px 5px;
  border-radius: 2px;
  font-weight: 700;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($red, 30%);
  }

  &--active {
    background-color: $red;

    &:hover {
      background-color: darken($red, 10%);
    }
  }
}
