.zoom {
  $self: &;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 90%;
  cursor: pointer;

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.6);
    z-index: 9999;
    padding: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 90%;
  }

  &__direction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    background: transparent;
    border: none;
    background: rgba($black, 0.6);
    padding: 18px;
    border-radius: 50%;

    img {
      vertical-align: middle;
      width: 25px;
      height: 25px;
    }

    &--left {
      left: 10px;

      img {
        transform: rotate(-180deg);
      }
    }

    &--right {
      right: 10px;
    }

    &--close {
      top: 10px;
      transform: none;
      right: 10px;
    }

    @media screen and (max-width: $break-md) {
      display: none;
    }
  }
}

.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.3s ease-out;
  transform: scale(1);
  opacity: 1;
}

.zoom-enter,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
