.who {
  &__hero {
    position: relative;
    width: 100%;
    padding-top: 33%;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 50%;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-50%);
    }
  }

  &__container {
    @extend .container;

    margin-bottom: 100px;
  }

  &__text {
    max-width: 700px;
    margin: 50px auto;
    color: $white;

    p {
      margin-bottom: 20px;
    }
  }

  &__team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__member {
    flex: 1;
    margin: 20px 10px;
    padding: 20px;

    @media screen and (max-width: $break-md) {
      flex: 1 1 40%;
    }

    @media screen and (max-width: $break-sm) {
      flex: 1 1 100%;
    }
  }

  &__member-picture {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    border: 4px solid $white;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__member-info {
    color: $white;
  }

  &__member-name {
    @extend .title, .title--2;

    text-transform: none;
    margin: 20px auto 5px;
  }
}
