$break-lg: 1200px;
$break-md: 1024px;
$break-sm: 768px;
$break-s: 468px;
$break-xs: 350px;

// Colors
$blue: #0149d1;
$black: #000;
$white: #fff;
$red: #E15E43;
$grey: #323232;
$green: #0d9752;

$primary: $red;
$secondary: $blue;

$primary-contrast: $white;
$secondary-contrast: $white;

$gutter: 20px;
