<template>
  <div v-if="project && project.title" class="layout">
    <div class="layout__header">
      <div class="layout__title">
        <h1 class="title title--1">
          {{ project.title }}
        </h1>
      </div>
    </div>

    <div v-if="project.cover" class="layout__hero">
      <img :src="url + scaleFormat(project.cover.formats)" alt="" />

      <div
        class="layout__hero-blur"
        :style="`backgroundImage: url('${url}${scaleFormat(
          project.cover.formats
        )}')`"
      ></div>
    </div>

    <div class="layout__content container">
      <div v-if="project.startDate || project.endDate" class="layout__frame">
        <p v-if="project.startDate">
          <strong>Début de la promotion :</strong>
          {{ $dayjs(project.startDate).format('DD/MM/YYYY') }}
        </p>

        <p v-if="project.endDate">
          <strong>Fin de la promotion :</strong>
          {{ $dayjs(project.endDate).format('DD/MM/YYYY') }}
        </p>
      </div>

      <div v-if="project.content" class="layout__text">
        <div class="text-left" v-html="$md.render(project.content)"></div>
      </div>

      <ZoomGallery
        v-if="project.pictures.length"
        class-container="layout__gallery"
        :gallery="gallery"
      />
    </div>
  </div>

  <div v-else>
    <p>Chargement...</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { ZoomGallery } from '@/components/Common';

export default {
  components: { ZoomGallery },

  async asyncData({ params, $axios, store }) {
    const [id] = params.id.split('-');

    const project = await $axios.$get(
      `${store.getters['projects/getUrl']}/${params.category}/${id}`
    );

    return { project };
  },

  computed: {
    ...mapGetters({
      url: 'projects/getUrl',
      hasProjects: 'projects/hasProjects',
      projectStore: 'projects/getOne',
    }),

    gallery() {
      if (this.project.pictures && !this.project.pictures.length) return [];

      return this.project.pictures.map((pic) => {
        return {
          thumb: this.url + this.scaleFormatInvert(pic.formats),
          large: this.url + this.scaleFormat(pic.formats),
          alt: pic.caption,
        };
      });
    },
  },

  methods: {
    async fetchProject() {
      if (this.hasProjects) {
        const project = this.projectStore(this.$route.params.id);
        this.project = Object.assign({}, project);
        return;
      }

      const response = await this.$axios.$get(
        `${this.url}/projects?uuid=${this.$route.params.id}&_limit=1`
      );

      this.project = Object.assign({}, response[0]);
    },

    scaleFormat(formats) {
      return (
        (formats.large && formats.large.url) ||
        (formats.medium && formats.medium.url) ||
        (formats.small && formats.small.url) ||
        (formats.thumbnail && formats.thumbnail.url)
      );
    },

    scaleFormatInvert(formats) {
      return (
        (formats.thumbnail && formats.thumbnail.url) ||
        (formats.small && formats.small.url) ||
        (formats.medium && formats.medium.url) ||
        (formats.large && formats.large.url)
      );
    },
  },
};
</script>
