<template>
  <div>
    <div class="layout__header">
      <div class="layout__title">
        <h1 class="title title--1">Actualités / Promotions / Chantiers</h1>
      </div>

      <Services :active="category" @action="filterBy" />
    </div>

    <div v-if="!loading" class="container home__cards">
      <template v-if="projects.length">
        <transition-group appear name="list" tag="div" class="cards">
          <div v-for="project in projects" :key="project.uuid" class="card">
            <nuxt-link
              :to="{
                name: 'actualites-category-id',
                params: {
                  id: project.id + '-' + project.uuid,
                  category: apiURL(project.type),
                },
              }"
              class="card__picture"
            >
              <img :src="url + scaleFormat(project.cover.formats)" alt="" />
            </nuxt-link>

            <div class="card__content">
              <div v-if="project.type === 'promotions'" class="card__badge">
                <span>PROMO</span>
              </div>

              <p class="card__title">
                {{ project.title }}
              </p>

              <p class="card__date">
                {{ dateProject(project) }}
              </p>

              <div class="card__text">
                <div v-html="$md.render(limit(project.content))"></div>
              </div>
            </div>

            <div class="card__action">
              <nuxt-link
                :to="{
                  name: 'actualites-category-id',
                  params: {
                    id: project.id + '-' + project.uuid,
                    category: apiURL(project.type),
                  },
                }"
                class="button button--primary"
              >
                En savoir plus
              </nuxt-link>
            </div>
          </div>
        </transition-group>
      </template>

      <p v-else>Il n'y a pas encore de projet dans cette catégorie.</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Services } from '@/components/Navigation';

export default {
  components: { Services },

  data() {
    return {
      category: undefined,
      loading: false,
    };
  },

  computed: {
    ...mapGetters({
      allProjects: 'projects/getAll',
      url: 'projects/getUrl',
      projectsByCategory: 'projects/getProjectsByCategory',
    }),

    projects() {
      if (this.category) {
        return this.projectsByCategory(this.category);
      }

      return this.allProjects;
    },
  },

  async created() {
    try {
      this.loading = true;

      await this.fetchProjects();

      this.loading = false;
    } catch (error) {
      this.loading = false;
    }
  },

  methods: {
    ...mapActions({
      fetchProjects: 'projects/fetchProjects',
    }),

    filterBy(type) {
      this.category = this.category === type ? undefined : type;
    },

    dateProject(project) {
      const date =
        project.project_date || project.startDate || project.published_at;

      if (!date) return;

      return this.$dayjs(date).format('DD/MM/YYYY');
    },

    limit(str) {
      if (!str) return '';
      str = str.toString();

      if (str.length <= 150) {
        return str;
      }
      return str.substr(0, 150) + '...';
    },

    scaleFormat(formats) {
      return (
        (formats.large && formats.large.url) ||
        (formats.medium && formats.medium.url) ||
        (formats.small && formats.small.url) ||
        (formats.thumbnail && formats.thumbnail.url)
      );
    },

    apiURL(type) {
      if (type === 'chantiers') return 'projects';

      return type;
    },
  },
};
</script>

<style lang="scss" scoped>
.list {
  &-move {
    transition: all 0.6s ease-in-out 50ms;
  }

  &-enter-active {
    transition: all 0.3s ease-out;
  }

  &-leave-active {
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 0;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: scale(0.9);
  }
}
</style>
