.button {
  $self: &;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.6em;
  font-weight: 700;
  text-decoration: none;

  &:disabled {
    visibility: hidden;
    cursor: not-allowed;
    box-shadow: none;
  }

  &--primary {
    background-color: $primary;
    color: $primary-contrast;
    border-color: $primary;

    i {
      margin-right: 3px;
    }
  }


  &--small {
    padding: 3px 8px;
    font-size: 1em;
    border-width: 1px;
  }

  &--mini {
    padding: 2px 8px;
    font-size: 0.9em;
    border-width: 1px;
  }

  & + #{$self} {
    margin-left: 5px;
  }
}
