.cards {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  &--selected {
    .card {
      opacity: 0.5;
    }
  }

  &--center {
    justify-content: center;
  }
}

.card {
  position: relative;
  width: calc(100% / 3 - 20px);
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  background-color: $white;
  border-radius: 6px;
  z-index: 1;
  backface-visibility: hidden;
  transform-origin: 50% 50%;

  @media screen and (max-width: $break-md) {
    width: calc(100% / 2 - 20px);
  }

  @media screen and (max-width: $break-sm) {
    width: calc(100% / 1 - 20px);
  }

  &--selected {
    opacity: 1 !important;
  }

  &__picture {
    position: relative;
    width: 100%;
    padding: 33%;
    overflow: hidden;
    border-radius: 6px 6px 0 0;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-50%);
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    padding: 25px 25px 20px;
  }

  &__badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -65px;
    left: -5px;
    width: 80px;
    height: 80px;
    background-color: $primary;
    color: $white;
    font-weight: 700;
    font-size: 1.6em;
    border-radius: 50%;
  }

  &__title {
    @extend .title;
    @extend .title--1;

    margin: 0 0 4px;
    text-transform: uppercase;

    &--lower {
      text-transform: none !important;
      margin: 10px 0 20px;
    }
  }

  &__date {
    margin-bottom: 20px;
    font-size: 1em;
  }

  &__text {
    p {
      text-align: left;
    }
  }

  &__action {
    margin: auto 0 25px;
    padding: 0 0 10px;

    .button {
      min-width: 80%;
    }
  }
}
