.form {
  max-width: 580px;
  margin: 30px auto 60px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--banner {
      font-weight: 700;
      margin: 10px auto;
      background-color: lighten($green, 5%);
      color: $white;
      padding: 15px 10px 5px;
      border-radius: 4px;
    }
  }
}

.field {
  flex: 1;
  text-align: left;
  margin: 0 5px 20px;

  @media screen and (max-width: $break-md) {
    flex: 0 0 100%;
    margin: 0 0 20px;
  }

  &--submit {
    text-align: center;
  }

  &__label {
    display: block;
    font-size: 1.4em;
    text-align: left;
    color: $white;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__input,
  &__select select,
  &__textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: $black;
    text-align: left;
    font-family: inherit;
    font-size: 1.3em;
  }

  &__select {
    position: relative;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    svg {
      width: 10px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  &__textarea {
    height: 200px;
  }
}
