.layout {
  color: $white;

  &__header {
    padding: 0 $gutter;
  }

  &__hero {
    position: relative;
    width: 100%;
    padding-top: 30%;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      top: 50%;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-50%);
      z-index: 5;

      @media screen and (max-width: $break-md) {
        position: relative;
        top: 0;
        transform: none;
      }
    }

    @media screen and (max-width: $break-md) {
      padding: 0;
    }
  }

  &__hero-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($white, 0.2);
    filter: blur(1.5rem);
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center center;
  }

  &__title {
    color: $white;
    margin: 50px auto 20px;
  }

  &__frame {
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    margin-bottom: 20px;

    p {
      font-size: 1.6em;
      margin: 0 10px;

      @media screen and (max-width: $break-md) {
        font-size: 1.4em;
      }
    }
  }

  &__text {
    color: $white;
  }

  &__content {
    margin: 50px auto;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 50px auto;

    @media screen and (max-width: $break-s) {
      display: flex;
      flex-wrap: wrap;
    }

    .zoom {
      @media screen and (max-width: $break-s) {
        flex: 0 0 calc(50% - 10px);
        padding-top: 50% !important;
      }
    }
  }

  &__thumb {
    position: relative;
    width: 100%;
    padding-top: 80%;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
