.title {
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;

  &--1 {
    font-size: 2.2em;
  }
  &--2 {
    font-size: 2em;
  }
  &--3 {
    font-size: 1.8em;
  }
  &--4 {
    font-size: 1.6em;
  }
  &--5 {
    font-size: 1.4em;
  }
  &--6 {
    font-size: 1.2em;
  }
}
