<template>
  <div class="blurry-header">
    <img class="blurry-header__image" :src="source" alt="" />

    <div
      class="blurry-header__background"
      :style="`background-image: url(${source});`"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    source: {
      type: String,
      required: true,
    },
  },
};
</script>
