<template>
  <div v-if="src.length" class="zoom" @click="toggleZoom">
    <img class="zoom__thumbnail" :src="src" :alt="alt" />

    <transition name="zoom">
      <div v-show="zoom" class="zoom__container">
        <img class="zoom__image" :src="srcBig || src" alt="" />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: '',
    },

    srcBig: {
      type: String,
      default: '',
    },

    alt: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      zoom: false,
    };
  },

  methods: {
    toggleZoom() {
      this.zoom = !this.zoom;
    },
  },
};
</script>
