<template>
  <div :class="classContainer">
    <div
      v-for="(picture, i) in gallery"
      :key="i"
      class="zoom"
      @click="openZoom(i)"
    >
      <img
        class="zoom__thumbnail"
        :src="picture.thumb"
        :alt="picture.alt || ''"
      />
    </div>

    <transition name="zoom">
      <div
        v-show="zoom"
        v-touch:swipe="changePicture"
        class="zoom__container"
        @click.prevent="closeZoom"
      >
        <button
          class="zoom__direction zoom__direction--close"
          @click.stop="closeZoom"
        >
          <img src="~/assets/images/icons/close--white.svg" alt="" />
        </button>

        <button
          class="zoom__direction zoom__direction--left"
          @click.stop="changePicture('left')"
        >
          <img src="~/assets/images/icons/next--white.svg" alt="" />
        </button>

        <img
          class="zoom__image"
          :src="gallery[activeIndex] && gallery[activeIndex].large"
          alt=""
        />

        <button
          class="zoom__direction zoom__direction--right"
          @click.stop="changePicture('right')"
        >
          <img src="~/assets/images/icons/next--white.svg" alt="" />
        </button>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    classContainer: {
      type: String,
      default: 'container',
    },

    gallery: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      zoom: false,
      activeIndex: null,
    };
  },

  created() {},

  methods: {
    openZoom(index) {
      this.zoom = true;
      this.activeIndex = index;
    },

    closeZoom() {
      this.zoom = false;
    },

    changePicture(e) {
      const length = this.gallery.length;

      switch (e) {
        case 'left':
          this.activeIndex =
            this.activeIndex === length - 1 ? 0 : this.activeIndex + 1;
          break;
        case 'right':
          this.activeIndex =
            this.activeIndex === 0 ? length - 1 : this.activeIndex - 1;
          break;
      }
    },
  },
};
</script>
