<template>
  <div class="who">
    <div class="layout__header">
      <div class="layout__title">
        <h1 class="title title--1">Qui sommes-nous ?</h1>
      </div>
    </div>

    <div class="layout__hero">
      <img src="/team/equipe.jpg" alt="" />

      <div
        class="layout__hero-blur"
        style="background-image: url('/team/equipe.jpg')"
      ></div>
    </div>

    <div class="who__container">
      <div class="who__text">
        <p class="text-left">
          La direction de B.E.G Electricité Générale est composée de
          <strong>M. Aniello Borriello</strong>, électricien qualifié et
          fondateur de la société, ainsi que de Mme
          <strong>Florenza Lattuca</strong>, son épouse et associée .
        </p>

        <p class="text-left">
          Créée en 2015, la société B.E.G est basée dans la
          <strong>région de Manage</strong> et couvre toute la
          <strong>Wallonie</strong> ainsi que le
          <strong>Brabant Wallon et Bruxelles</strong>
          pour l’installation, la rénovation et la mise en conformité
          électrique. Elle propose également ses services dans le domaine des
          installations connectées,de la vidéophonie et de la parlophonie (pose
          de caméras et parlophones).
        </p>

        <p class="text-left">
          Découvrez une équipe d’électriciens qualifiés accompagnés de jeunes
          talents prometteurs. Avec bien
          <strong>plus de 10 ans d’expérience</strong> en tant qu’électricien,
          Aniello et son équipe vous donnent la garantie d’un travail
          irréprochable.
        </p>
        <p class="text-left">
          B.E.G travaille et forme son équipe dans un environnement d’échange,
          de partage et de perpétuelle recherche d’évolution technique et
          technologique pour toujours mieux
          <strong>vous conseiller et vous satisfaire.</strong>
        </p>
      </div>

      <div class="who__team">
        <div v-for="(member, i) in team" :key="i" class="who__member">
          <figure class="who__member-picture">
            <img :src="member.picture" alt="" />
          </figure>

          <div class="who__member-info">
            <p class="who__member-name">{{ member.name }}</p>

            <p class="who__member-work">{{ member.job }}</p>
          </div>
        </div>
      </div>

      <div class="who__text">
        <p class="text-left">
          <strong>N’hésitez pas à nous contacter</strong> via notre formulaire
          de contact ou par téléphone pour toute question ou demande de prix.
          <strong>Nos devis sont gratuits et sans engagement.</strong>
        </p>
      </div>

      <router-link :to="{ name: 'contact' }" class="button button--primary">
        Contacter B.E.G.
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      team: [
        {
          name: 'Aniello Borriello',
          job: 'Fondateur et dirigeant',
          picture: '/team/aniello.jpg',
        },
        {
          name: 'Florenza Lattuca',
          job: 'Responsable opérationnel',
          picture: '/team/florenza.jpg',
        },
      ],
    };
  },
};
</script>
