<template functionnal>
  <footer class="footer">
    <div class="footer__pictos">
      <img src="@/assets/images/icons/picto1.svg" alt="" />
      <img src="@/assets/images/icons/picto2.svg" alt="" />
      <img src="@/assets/images/icons/picto3.svg" alt="" />
      <img src="@/assets/images/icons/picto4.svg" alt="" />
      <img src="@/assets/images/icons/picto5.svg" alt="" />
      <img src="@/assets/images/icons/picto6.svg" alt="" />
      <img src="@/assets/images/icons/picto7.svg" alt="" />
      <img src="@/assets/images/icons/picto8.svg" alt="" />
    </div>

    <div class="footer__cta">
      <p class="footer__text">
        <nuxt-link to="/contact">
          N’hésitez pas à nous contacter pour une demande de prix, nos offres
          sont gratuites et sans engagement.
        </nuxt-link>
      </p>
    </div>

    <div class="footer__body">
      <div class="footer__socials">
        <a
          href="https://www.facebook.com/BEG-%C3%A9lectricit%C3%A9-g%C3%A9n%C3%A9rale-sprl-913407138681946/"
          target="_blank"
          rel="nofollow"
        >
          <img src="@/assets/images/icons/facebook--blue.svg" alt="" />
        </a>
        <a
          href="https://www.linkedin.com/company/begelectricitegenerale/"
          target="_blank"
          rel="nofollow"
        >
          <img src="@/assets/images/icons/linkedin--blue.svg" alt="" />
        </a>

        <a href="tel:003264495043" rel="nofollow">
          <img src="@/assets/images/icons/phone--blue.svg" alt="" />
        </a>

        <a href="mailto:info@begelectricite.be" rel="nofollow">
          <img src="@/assets/images/icons/mail--blue.svg" alt="" />
        </a>
      </div>

      <div class="footer__info">
        <p>B.E.G. Electricité Générale sprl</p>
        <p>N° entreprise: 0672 935 916</p>
        <p class="bold">Tel: 064/49.50.43</p>
        <p class="bold">info@begelectricite.be</p>
      </div>
    </div>

    <div class="footer__trade">
      <p class="footer__text">
        © BEG électricité générale 2022 - with <span class="tred">❤</span> by

        <a href="http://jonathan.decraie.pro" target="_blank" rel="nofollow">
          Jonathan Decraie
        </a>
      </p>
    </div>
  </footer>
</template>
