<template functionnal>
  <header class="navbar">
    <div class="navbar__container">
      <nuxt-link class="navbar__logo" to="/">
        <img src="~/assets/images/logo.svg" alt="" />
      </nuxt-link>

      <button class="navbar__mobile-menu" @click="open = !open">
        <span>Menu</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          viewBox="0 0 32 32"
          fill="#FFF"
        >
          <path
            d="M30.7 17H1.3C.6 17 0 16.4 0 15.7c0-.7.6-1.3 1.3-1.3h29.3c.7 0 1.3.6 1.3 1.3.1.7-.5 1.3-1.2 1.3zm0-10.2H1.3C.6 6.8 0 6.2 0 5.4s.6-1.3 1.3-1.3h29.3c.7 0 1.3.6 1.3 1.3s-.5 1.4-1.2 1.4zm0 20.4H1.3c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3h29.3c.7 0 1.3.6 1.3 1.3s-.5 1.3-1.2 1.3z"
          />
        </svg>
      </button>

      <nav :class="['navbar__list', { 'navbar__list--open': open }]">
        <nuxt-link class="navbar__link" to="/services">Services</nuxt-link>
        <nuxt-link class="navbar__link" to="/actualites">
          Actu / Chantiers
        </nuxt-link>
        <nuxt-link class="navbar__link" to="/a-propos">À propos</nuxt-link>
        <nuxt-link class="navbar__link" to="/contact">Contact</nuxt-link>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      open: false,
    };
  },

  watch: {
    $route() {
      this.open = false;
    },
  },
};
</script>
