<template>
  <div class="services">
    <button
      v-for="service in services"
      :key="service.name"
      :class="['service', { 'service--active': service.name === active }]"
      @click="action(service.name)"
    >
      {{ service.value }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    redirect: Boolean,
    active: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      services: [
        {
          name: 'nouvelles-installations-renovations',
          value: 'Nouvelles installations et rénovations',
        },
        {
          name: 'borne-electrique',
          value: 'Borne de recharge pour véhicule électrique',
        },
        {
          name: 'mise-en-conformite',
          value: 'Mise en conformité',
        },
        {
          name: 'depannage',
          value: 'Dépannage',
        },
        {
          name: 'installation-connectee',
          value: 'Installation connectée',
        },
        {
          name: 'camera-parlophonie',
          value: 'Caméra / Parlophonie',
        },
      ],
    };
  },

  methods: {
    action(value) {
      if (this.redirect) {
        this.$router.push({ name: 'services', params: { slug: value } });
        return;
      }

      this.$emit('action', value);
    },
  },
};
</script>
