<template>
  <div>
    <Navbar />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
import { Navbar, Footer } from '@/components/Navigation';

export default {
  components: { Navbar, Footer },
};
</script>
