<template>
  <div class="home" :style="`background-position: center ${bgPosition}px`">
    <div class="home__hero">
      <div class="container">
        <div class="home__intro">
          <p>
            <strong>B.E.G. Electricité Générale</strong> est une société belge
            créée par Monsieur Aniello Borriello, électricien depuis plus de 10
            ans et s’adresse aux particuliers comme aux entreprises. Avec notre
            expérience nous proposons un savoir-faire de qualité à l’écoute de
            vos besoins et envies.
          </p>

          <p>
            <strong>
              Notre devise : Garantir un travail de qualité dans le meilleur
              délai.
            </strong>
          </p>

          <p>
            Localisée à Manage, plus précisément à Bellecourt, près des axes
            routiers, nous couvrons toute la Wallonie ainsi que le Brabant
            Wallon et Bruxelles.
          </p>

          <p>
            Nous proposons l’étude, l’installation et la rénovation, la mise en
            conformité et la maintenance de vos installations électriques. Nous
            plaçons également la parlophonie et la vidéophonie.
          </p>

          <Services redirect />
        </div>
      </div>
    </div>

    <div class="container home__cards">
      <div class="cards cards--center">
        <div v-for="project in projects" :key="project.uuid" class="card">
          <nuxt-link
            :to="{
              name: 'actualites-category-id',
              params: {
                id: project.id + '-' + project.uuid,
                category: apiURL(project.type),
              },
            }"
            class="card__picture"
          >
            <img :src="url + scaleFormat(project.cover.formats)" alt="" />
          </nuxt-link>

          <div class="card__content">
            <div v-if="project.type === 'promotions'" class="card__badge">
              <span>PROMO</span>
            </div>

            <p class="card__title">
              {{ project.title }}
            </p>

            <p class="card__date">
              {{ dateProject(project) }}
            </p>

            <div class="card__text">
              <div v-html="$md.render(limit(project.content))"></div>
            </div>
          </div>

          <div class="card__action">
            <nuxt-link
              :to="{
                name: 'actualites-category-id',
                params: {
                  id: project.id + '-' + project.uuid,
                  category: apiURL(project.type),
                },
              }"
              class="button button--primary"
            >
              En savoir plus
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Services } from '@/components/Navigation';

export default {
  components: { Services },

  data() {
    return {
      date: new Date().toISOString(),
      bgPosition: 0,
    };
  },

  computed: {
    ...mapGetters({
      projects: 'projects/getProjectsForHome',
      url: 'projects/getUrl',
    }),
  },

  created() {
    this.fetchProjects();
  },

  mounted() {
    document.addEventListener('scroll', this.followUserScroll);
    this.followUserScroll();
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.followUserScroll);
  },

  methods: {
    ...mapActions({
      fetchProjects: 'projects/fetchProjects',
    }),

    dateProject(project) {
      const date =
        project.project_date || project.startDate || project.published_at;

      if (!date) return;

      return this.$dayjs(date).format('DD/MM/YYYY');
    },

    limit(str) {
      if (!str) return '';
      str = str.toString();

      if (str.length <= 150) {
        return str;
      }
      return str.substr(0, 150) + '...';
    },

    scaleFormat(formats) {
      return (
        (formats.medium && formats.medium.url) ||
        (formats.small && formats.small.url) ||
        (formats.thumbnail && formats.thumbnail.url)
      );
    },

    apiURL(type) {
      if (type === 'chantiers') return 'projects';

      return type;
    },

    followUserScroll() {
      const el = document.querySelector('.home__cards');
      const scroll = window.scrollY;
      const offset = el.offsetTop;

      const position = offset - scroll - 100;

      this.bgPosition = position > 0 ? position : 0;
    },
  },
};
</script>
